<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Médiéval Game</title>
    <link rel="stylesheet" href="../css/jeux.css">
</head>
<body>
    <nav>
        <div class="stat">
            <img src="../img/piece.png" alt="">
            <p> : </p>
        </div>
        <div class="stat2">
            <img src="../img/cerveau.png" alt="">
            <p> : </p>
        </div>
        <div class="stat3">
            <img src="../img/sac.png" alt="">
            <p> : </p>
        </div>
    </nav>
    <main>
        <div class="video">
            <video src="../video/2023-09-13 09-29-19 - Trim.mp4" loop muted autoplay></video>
            <div class="choix">
                
            </div>
        </div>
    </main>
</body>
</html>