<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Médiéval Game</title>
    <link rel="stylesheet" href="../css/jeux.css">
</head>
<body>
    <nav>
        <div class="stat1">
            <img src="../img/profil.png" alt="">
            <p id="userName"> : </p>
        </div>
        <div class="stat">
            <img src="../img/piece.png" alt="">
            <p id="gold"> 500 </p>
        </div>
        <div class="stat2">
            <img src="../img/cerveau.png" alt="">
            <p id="alignement"> : </p>
        </div>
        <div class="stat3">
            <img src="../img/sac.png" alt="">
            <p> : </p>
        </div>
    </nav>
    <main id="bak">
        <div class="choix">
            <div class="questions">
                
                <button id="recommencer" style="display: none;">Recommencer</button>
            </div>
        </div>
    </main>
    <script src="http://localhost:3000/static/jeux.js"></script>
</body>
</html>