* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 20vh 1fr;
    overflow: hidden;
}

nav {
    height: 104vh;
    width: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding-left: 30px;
    color: white;
    font-size: 20px;
    overflow-y: auto;
    z-index: 99;
}

.stat {
    width: 40%;
    display: flex;
}

.stat p {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 25px;
}

.stat img { 
    width: 100%;
}

.stat1 {
    margin-top: 250px;
    width: 40%;
    display: flex;
}

.stat1 p {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 25px;
}

.stat1 img {
    width: 100%;
    filter: invert(100%);
}

.stat2 {
    width: 40%;
    display: flex;
}

.stat2 p {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 25px;
}

.stat2 img {
    width: 100%;
}

.stat3 {
    margin-bottom: 250px;
    width: 40%;
    display: flex;
}

.stat3 p {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 25px;
}

.stat3 img {
    width: 100%;
}

.video {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

main video {
    filter: blur(4px);
    background-color: black;
    max-width: 100%;
    max-height: 100%; 
    z-index: 2;
    transform: scale(1.15);
}