* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: auto 1fr;
    overflow: hidden;
}

nav {
    height: 104vh;
    width: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:  rgba(187, 147, 48, 0.9);
    padding-left: 30px;
    color: white;
    font-size: 20px;
    overflow-y: auto;
    z-index: 99;
}

.stat {
    width: 40%;
    display: flex;
}

.stat p {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 25px;
}

.stat img { 
    width: 100%;
}

.stat1 {
    margin-top: 250px;
    width: 40%;
    display: flex;
}

.stat1 p {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 25px;
}

.stat1 img {
    width: 100%;
    filter: invert(100%);
}

.stat2 {
    width: 40%;
    display: flex;
}

.stat2 p {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 25px;
}

.stat2 img {
    width: 100%;
}

.stat3 {
    margin-bottom: 250px;
    width: 40%;
    display: flex;
}

.stat3 p {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 25px;
}

.stat3 img {
    width: 100%;
}

main {
    background-image: url("../img/event1.jpg");
    background-size: cover;
    animation: zoom 10s ease infinite alternate;
    overflow: hidden;
}

@keyframes zoom {
    0% {
        background-size: 120%;
    }
    100% {
        background-size: 140%;
    }
}

.questions {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}

.questions p {
    font-size: 20px;
    margin-bottom: 10px;
}


.choices button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgba(187, 147, 48, 0.9);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.choices button:hover {
    background-color: rgba(229, 183, 66, 0.9);
}
