*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #000000;
    padding: 10px 0;
    height: 5vh;
    width: 100%;
    z-index: 2;
}

.navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar-item {
    margin: 0 20px;
}

.navbar-item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    transition: color 0.3s;
}

main {
    
}

.img-container {
    position: relative;
    background-color: #000;
}

.img-container img {
    width: 100%;  
    height:90vh;
    filter: blur(3px);
}

.button-container {
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    --b: 3px;
    --s: .15em; 
    --c: #ffffff;
    
    padding: calc(5vh + var(--s)) calc(10vh + var(--s));
    color: var(--c);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
        var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .2em;
    font-size: 35px;
    border: none;
    background-color: black;
}
button:hover,
button:focus-visible{
  --_p: 0px;
  outline-color: var(--c);
  outline-offset: .05em;
}
button:active {
  background: var(--c);
  color: #fff;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    height: 4.62vh;
    font-size: 25px;
}
